:root{
  --primary-color: #000000ef;
  --secondary-color: #000000;
}

p{
    color:#fff;
    font-weight: 100;
}
footer{
    width: 100%;
    background: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}