
.task{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem 1rem;
    font-weight: 300;
    color: #fff;
    background: #2120204a;
    border: none;
    border-radius: .5rem;
     @media screen and (min-width: 764px) {
        width: 80%;
    }
    h3{
        width: 80%;
        display: flex;
        justify-content: flex-start;
    }
    .finished{
        color: #B8323B;
        text-decoration: line-through;
    }
    input{
        cursor: pointer;
    }
    button{
        background: none;
        color: #91CCFB;
        border: none;
        cursor: pointer;
        margin-right: .3rem;
    }
    
}